@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<TransactionDTO>


@{
    ViewData["Title"] = "Transaction List";
    var account = ViewBag.Account;
    var filterEnabled = "";
    @if ((Context.Session.GetString("FilterStart") != null) || Context.Session.GetString("FilterEnd") != null)
        filterEnabled = "Filter currently active: " + Context.Session.GetString("FilterStart")+ " - " + Context.Session.GetString("FilterEnd");

}
<div>
    <h1>Transaction List</h1>
    <h2>@account</h2>
    <form asp-controller="Transaction" asp-action="OneAccount" method="get">
        <div >
            Start Date: <input type="date" name="DateFilterStart" />
            End Date: <input type="date" name="DateFilterEnd" />
            <input type="submit" value="Filter" />
        </div>
    </form>
    <p>@filterEnabled</p>
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x[0].TransactionID)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(x => x[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x[0].DestinationAccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => x[0].Comment)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionTimeUtc)</th>
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => transaction.TransactionID)</td>
                <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
                <td>@Html.DisplayFor(x => transaction.AccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.DestinationAccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.Amount)</td>
                <td>@Html.DisplayFor(x => transaction.Comment)</td>
                <td>@transaction.TransactionTimeUtc.ToLocalTime()</td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model, page => Url.Action("OneAccount", new { page }),
        new PagedListRenderOptions
            {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
    <div>  <a asp-controller="Account" asp-action="Index">Back to Accounts</a></div>
</div>






