@using DataValidator;

@model TransactionViewModel
@{
    ViewData["Title"] = "Confirm";

}

<h1 class="display-4">Please Confirm the Details Below</h1>
<h2>@Model.TransactionType.ToString().TransactionTypeExtender()</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td>Account Number</td>
                <td>@Model.AccountNumber</td>
            </tr>
            @if (Model.DestinationAccount != null)
            {
                <tr>
                    <td>Destination Account:</td>
                    <td>@Model.DestinationAccount.AccountNumber</td>
                </tr>
            }
            <tr>
                <td>Amount:</td>
                <td>@Model.Amount</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>@Model.Comment</td>
            </tr>
        </table>
        <hr />
        <form asp-action="Confirm">
            <div class="form-group">
                <input type="hidden" asp-for="AccountNumber" value="@Model.AccountNumber" />
                <input type="hidden" asp-for="DestinationAccountNumber" value="@Model.DestinationAccountNumber" />
                <input type="hidden" asp-for="Amount" value="@Model.Amount" />
                <input type="hidden" asp-for="Comment" value="@Model.Comment" />
                <input type="hidden" asp-for="TransactionType" value="@Model.TransactionType" />
                <input type="submit" value="Confirm" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Cancel</a>
            </div>
        </form>

    </div>
    </table>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
