@model StatementViewModel

@{
    ViewData["Title"] = "History";
    int pagedisplay = 4;
}
<h1>Account History</h1>

<h4>Transactions</h4>
<hr />

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].TransactionID)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].TransactionType)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].AccountNumber)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].DestinationAccountNumber)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].Amount)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].Comment)</th>
        <th>@Html.DisplayNameFor(x => x.Transactions[0].TransactionTimeUtc)</th>
    </tr>
    @{int a = Model.PageNumber * pagedisplay; }
    @for (int i = a; i < a + pagedisplay; i++)
    {
        if (i + 1 > Model.Transactions.Count)
            break;
        <tr>
            <td>@Html.DisplayFor(x => x.Transactions[i].TransactionID)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].TransactionType)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].AccountNumber)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].DestinationAccountNumber)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].Amount)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].Comment)</td>
            <td>@Html.DisplayFor(x => x.Transactions[i].TransactionTimeUtc)</td>
        </tr>
    }
</table>
@{int pageup = Model.PageNumber + 1;
    int pagedown = Model.PageNumber - 1;}

<div class="d-flex">
    @if (Model.PageNumber > 0)
    {
            <form asp-action="History" class="mr-auto">
                <input type="hidden" asp-for="AccountNumber" value="@Model.AccountNumber" />
                <input type="hidden" asp-for="PageNumber" value="@pagedown" />
                <input type="submit" value="Previous Page" class="btn btn-primary" />
            </form>
    }
    @if (a < Model.Transactions.Count - pagedisplay)
    {
            <form asp-action="History" class="ml-auto">
                <input type="hidden" asp-for="AccountNumber" value="@Model.AccountNumber" />
                <input type="hidden" asp-for="PageNumber" value="@pageup" />
                <input type="submit" value="Next Page" class="btn btn-primary" />
            </form>
    }
</div>




