@model Assignment_2.Models.Customer

@{
    ViewData["Title"] = "Transactions";
}
<h1>Account History</h1>

<h4>Transactions</h4>
<hr />

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].TransactionID)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].TransactionType)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].AccountNumber)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].DestinationAccountNumber)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].Amount)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].Comment)</th>
        <th>@Html.DisplayNameFor(x => x.Accounts[0].Transactions[0].TransactionTimeUtc)</th>
    </tr>
    @foreach (var account in Model.Accounts)
    {
        @foreach (var transaction in account.Transactions)
        {
            <tr>
                <td>@Html.DisplayFor(x=>transaction.TransactionID)</td>
                <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
                <td>@Html.DisplayFor(x => transaction.AccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.DestinationAccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.Amount)</td>
                <td>@Html.DisplayFor(x => transaction.Comment)</td>
                <td>@Html.DisplayFor(x => transaction.TransactionTimeUtc)</td>
            </tr>
        }
    }
</table>

